[MASTER]
jobs=0

[MESSAGES CONTROL]
enable=c-extension-no-member
disable=bad-continuation, too-few-public-methods

[REPORTS]
msg-template='{path}:{line}: [{msg_id} {symbol}] {obj} {msg}'
output-format=colorized
score=no

[BASIC]
attr-rgx=[a-zA-Z_][a-zA-Z_0-9]*
argument-rgx=[a-zA-Z_][a-zA-Z_0-9]*
variable-rgx=[a-zA-Z_][a-zA-Z_0-9]*

[MISCELLANEOUS]
notes=FIXME,
      XXX,
      TODO,
      BUG,
      HACK

[LOGGING]
logging-format-style=new

[EXCEPTIONS]
overgeneral-exceptions=Exception

[TYPECHECK]

# List of members which are set dynamically and missed by pylint inference
# system, and so shouldn't trigger E1101 when accessed. Python regular
# expressions are accepted.
generated-members=cv2.*
